<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">




<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">


<br>
<br>


<div class="row">
    <a href="app/PatientRegisterSection">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-orange">
                <div class="panel-heading" id="patientsInRooms">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="patients-with-rooms-live" class="huge"></div>
                            <div>Patients with rooms</div>
                        </div>
                    </div>
                </div>
            </div>
    </a>
</div>


<div class="col-lg-4 col-md-4">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-child fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div id="patients-waiting-live" class="huge"></div>
                    <div>Patients waiting</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <div class="panel panel-info ">
        <div class="panel-heading" id="freeRooms">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-american-sign-language-interpreting fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div id="free-rooms-live" class="huge"></div>
                    <div>Available room</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <a href="app/PatientRegisterSection">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-orange">
                <div class="panel-heading" id="patientsInRooms">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-check-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="patients-with-rooms-live" class="huge"></div>
                            <div> Patient Register</div>
                        </div>
                    </div>
                </div>
            </div>
    </a>
</div>

<div class="col-lg-4 col-md-4">
    
   <a href="app/DoctorSection">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-group fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="patients-waiting-live" class="huge"></div>
                    <div>Manage Doctors</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-lg-4 col-md-4">
    
    <a href="app/PatientRegisteredSection">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-group fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="patients-waiting-live" class="huge"></div>
                        <div>Registered Patient</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="col-lg-4 col-md-4">
    <a href="app/RoomSection">
        <div class="panel panel-orange">
            <div class="panel-heading" id="freeRooms">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hotel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="free-rooms-live" class="huge"></div>
                        <div>Manage Room</div>
                    </div>
                </div>
            </div>
        </div>
</div>
</a>
</div>





<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
