<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

<body style="background-color: #222;">

            <img src="https://images.squarespace-cdn.com/content/v1/556dad00e4b074f7195938e5/1629724691910-R2GM171SG14VMOEHU2NG/Patient-Registration.jpg?format=2500w" alt="" width="1550px" height="500px">


    <div class="col-md-6 col-lg-6" >
        <form action="/app/PatientRegisterSection" method="post">

<br>
   
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">First Name</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input id="first-name" class="form-control" style="width: 100%;" type="text" name="firstName" required="true" placeholder="">
                </div>
            </div>

           
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Last Name</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" type="text" name="lastName" required="true" placeholder="">
                </div>
            </div>

            <!-- NIC number input -->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">NIC</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" type="text" name="hospitalNumber" required="true" placeholder="">
                </div>
            </div>

            <!-- Date of birth -->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Date of birth</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" type="text" name="dateOfBirth" required="true" placeholder="">
                </div>
            </div>



            <!-- Sex -->
            <div class="form-group row" >
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Sex</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success active" style="margin:0px;">
                            <input id="male-radio" type="radio" name="sex" value="male" autocomplete="off" checked>Male
                        </label>
                        <label class="btn btn-success" style="margin:0px;">
                            <input id="female-radio" type="radio" name="sex" value="female" autocomplete="off"> Female
                        </label>

                        	
                    </div>
                    <input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add patient">
                </div>
            </div>


              

        </form>

    </div>




<body>




<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/addpatient.js"></script>
<div style="padding-left:0px;" class="col-lg-6 col-md-6">

</div>
