<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

<body style="background-color: #222;">

            <img src="https://images.squarespace-cdn.com/content/v1/556dad00e4b074f7195938e5/1629724691910-R2GM171SG14VMOEHU2NG/Patient-Registration.jpg?format=2500w" alt="" width="1550px" height="500px">


<table id="patients-in-hospital" class="table table-striped table-bordered" cellspacing="0" width="80%" style="border-width:2px;
border-style:solid;
border-color:black;"></table>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/addpatient.js"></script>
<div style="padding-left:0px;" class="col-lg-6 col-md-6">

</div>
